.videocontrols {
  background: rgba(64, 64, 64, 0.5);
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.videocontrols button {
  background: transparent;
  border: none;
  color: white;
  box-shadow: none;
}
